<h1 class="text-center mt-3">Your lists</h1>
<div class="list-cards">
  <% @lists.each do |list| %>
      <div class="list-card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, width: 300, crop: :fill %>')">
        <h1><%= link_to list.name, list_path(list), id: "no-decoration" %></h1>
      </div>
  <% end %>
</div>
