<h1>Show list</h1>

<h3> <%= @list.name %></h3>
<% @list.bookmarks.each do |b| %>
<h4><%= b.comment %></h4>
<h4><%= b.movie.title %></h4>
<h4><%= link_to "Delete",
  bookmark_path(b),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
 %></h4>
<% end %>
