<h1>Bookmarks</h1>

<% @bookmarks.each do |b| %>
<h4> <%= b.comment %> </h4>
<h4> <%= b.movie.title %></h4>
<%= link_to "Delete",
  bookmark_path(b),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
 %>
<% end %>
